<form>
    <p class="form-section-title">
        Donation Type</p>
    <div class="form-group form-row-flex">
        <div>
            <input type="radio" class="radio-btn" name="donation-type" id="a-opt" />
            <label for="a-opt" class="label">One time</label>
        </div>
        <div>
            <input type="radio" class="radio-btn" name="donation-type" id="b-opt" />
            <label for="b-opt" class="label">Recurring</label>
        </div>
    </div>

    <p class="form-section-title">Suggested Amounts</p>
    <div class="form-group">
        <div class="suggested-amts">
            <div>
                <input type="radio" class="radio-btn amount" name="amount" id="1000" checked/>
                <label for="1000" class="amount-label">₦ 1000</label>
            </div>
            <div>
                <input type="radio" class="radio-btn amount" name="amount" id="10000" />
                <label for="10000" class="amount-label">₦ 10000</label>
            </div>
            <div>
                <input type="radio" class="radio-btn amount" name="amount" id="50000" />
                <label for="50000" class="amount-label">₦ 50000</label>
            </div>
        </div>
        <div>
            <input type="text" name="" class="form-control other-amount" placeholder="Other desired amount">
        </div>
    </div>

    <p class="form-section-title">Details</p>
    <div class="form-group form-row-flex">
        <input type="text" name="" class="form-control" id="" placeholder="First Name">
        <input type="text" name="" class="form-control" id="" placeholder="Last Name">
    </div>

    <div class="form-group">
        <input type="email" name="" class="form-control" id="" placeholder="Email address">
    </div>

    <div class="form-group">
        <input type="text" name="" class="form-control" id="" placeholder="Card Number">
    </div>

    <div class="form-group form-row-flex">
        <input type="" name="" id="" class="form-control" placeholder="MM/YY">
        <input type="" name="" id="" class="form-control" placeholder="CVV">
    </div>
</form>