<div class="nav-bar nav-bar--lg">
    <div class="container container--lg">
        <div class="nav-flex">
            <div class="nav-bar--left">
                <ul>
                    <li class="logo logo-white" onclick="goToSection('home')">Sterling Bank</li>
                </ul>
            </div>
            <div class="nav-bar--right">
                <span class="menu-item hidden-xs hidden-sm jsHideToSearch" onclick="goToSection('home')">Home</span>
                <span class="menu-item hidden-xs hidden-sm jsHideToSearch" onclick="goToSection('about')">About</span>
                <span class="menu-item hidden-xs hidden-sm jsHideToSearch" onclick="goToSection('contact')">Contact</span>
                <span class="menu-item menu-donate hidden-xs hidden-sm" onclick="goToSection('donate')">Donate</span>
                <!-- Sign-Up -->
                <div id="menu-icon" class="hidden-md hidden-lg" onclick="menuIconClick(this)">
                    <div id="bar1"></div>
                    <div id="bar2"></div>
                    <div id="bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>