<div class="nav-bar nav-bar--sm">
    <div class="container container--lg">
        <div class="nav-flex">
            <div class="nav-bar--left">
                <ul>
                    <li>+234 806 356 9653</li>
                    <li><a href="mailto:give@sterlingbankng.com">give@sterlingbankng.com</a></li>
                </ul>
            </div>
            <div class="nav-bar--right">
                <a href="">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div class="nav-bar nav-bar--lg">
    <div class="container container--lg">
        <div class="nav-flex">
            <div class="nav-bar--left">
                <ul>
                    <li class="logo" onclick="goToSection('home')">Sterling Bank</li>
                </ul>
            </div>
            <div class="nav-bar--right">
                <span class="menu-item hidden-xs hidden-sm jsHideToSearch" onclick="goToSection('home')">Home</span>
                <span class="menu-item hidden-xs hidden-sm jsHideToSearch" onclick="goToSection('about')">About</span>
                <span class="menu-item hidden-xs hidden-sm jsHideToSearch" onclick="goToSection('contact')">Contact</span>
                <button class="close-search" onclick="closeSearch()"> × </button>
                <input type="text" class="nav-search" placeholder="Search for a project or cause">
                <span class="menu-item hidden-xs hidden-sm jsHideToSearch menu-search" onclick="showSearchBar()">Search</span>
                <span class="menu-item menu-donate hidden-xs hidden-sm" onclick="goToSection('donate')">Donate</span>
                <!-- Sign-Up -->
                <div id="menu-icon" class="hidden-md hidden-lg" onclick="menuIconClick(this)">
                    <div id="bar1"></div>
                    <div id="bar2"></div>
                    <div id="bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>