<!-- HEADER -->
<header class="header">
    <div class="container container--xl">
        <div class="logo-white" onclick="goToSection('home')">Sterling Bank</div>
    </div>
</header>
<!-- END HEADER -->


<!-- SIDEBAR -->
<aside class="sidebar collapse">
    <ul class="nav">
        <li class="nav-item">
            <a href="index.html" class="nav-link active">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" fill="none" fill-rule="evenodd" stroke="#ffffff"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path d="M4.192 4.071l7.071 7.071 7.072-7.07C14.429.165 8.098.165 4.192 4.071z" />
                        <path d="M4.192 8.314c-3.905 3.905-3.905 10.237 0 14.142 3.906 3.905 10.237 3.905 14.143 0 3.905-3.905 3.905-10.237 0-14.142l-7.072 7.07-7.07-7.07z"
                        />
                    </svg>
                </i>Transactions
            </a>
        </li>

        <li class="nav-item">
            <a href="index.html" class="nav-link">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" fill="none" fill-rule="evenodd" stroke="#ffffff"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path d="M4.192 4.071l7.071 7.071 7.072-7.07C14.429.165 8.098.165 4.192 4.071z" />
                        <path d="M4.192 8.314c-3.905 3.905-3.905 10.237 0 14.142 3.906 3.905 10.237 3.905 14.143 0 3.905-3.905 3.905-10.237 0-14.142l-7.072 7.07-7.07-7.07z"
                        />
                    </svg>
                </i>Causes
            </a>
        </li>

        <li class="nav-item">
            <a href="orders.html" class="nav-link">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25" fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M13 23.547l12-5v-10l-12 5-12-5v10zM6.455 6.275L1 8.547M25 8.547l-5.455-2.272M13 13.547v10M13 8.547v-8" />
                        <path d="M17.364 4.547l-4.364 4-4.364-4" />
                    </svg>
                </i>
                <div class="nav-unread nav-unread--orders"></div>
                Charities
            </a>
        </li>

        <li class="nav-item">
            <a href="orders.html" class="nav-link">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25" fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M13 23.547l12-5v-10l-12 5-12-5v10zM6.455 6.275L1 8.547M25 8.547l-5.455-2.272M13 13.547v10M13 8.547v-8" />
                        <path d="M17.364 4.547l-4.364 4-4.364-4" />
                    </svg>
                </i>
                <div class="nav-unread nav-unread--orders"></div>
                Endowments
            </a>
        </li>

    </ul>
</aside>
<!-- END SIDEBAR -->